.flex-area {
    display: flex;
}

input {
    flex: 1;
    color:blue;
}

label {
    margin-right: 1em;
}

#button, h1 {
    text-align: center;
    width: auto;
}
.centered {
    margin: 5px auto 5px auto;
    color:blue;
}